.track{
    display: flex;
    width: 350px;
    height: 150px;
    color: #000;
    background-color: #fff;
    margin: 5px;
}
.album-cover img{
    height: 150px
}
.track-info h3{
    font-weight: bold;
}
.track-info audio{
    height: 50px;
    width: 100px
}
.track-info{
    font-size: 12px;
    width: 100%;
    padding: 5px;
    overflow: hidden;
}