body{
	background-color: #353ca7;
	color: #fff;
}
.heading {
	font-size: 30px;
	padding: 10px 0;
	color: #444;
	text-align: center;
}
/*Container*/
.container {
	margin: 36px auto;
	width: 100%;
	text-align: center;
}
.size-label{
	margin-bottom: 15px;
}
.search-label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}


.container input {
	width: 800px;
	padding: 10px;
	font-size: 20px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}
.search-icon {
	position: absolute;	
	font-size: 16px;
	color: #555;
	right: 18px;
}

/* Results */
.results-container {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}
.result-items {
	position: relative;
	padding: 16px;
	border: 1px solid #96b8d6;
	margin: 16px;
	text-align: center;
	min-width: 150px;
	text-decoration: none;
	box-shadow: 2px 2px 2px #96b8d6;
	cursor: pointer;
}
.image-username {
	color: #733fa1;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.8);
	padding: 5px 10px;
}
.image {
	width: 100%;
	height: 150px;
}
.image-wrapper {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	justify-content: center;
}
/*Loader*/
.search-loading {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
/*Show and hide*/
.show {
	display: inline-block;
}

.hide {
	display: none;
}

.go-button{
	margin-top: 25px;
	display:inline-block;
	padding:0.7em 1.4em;
	border-radius:0.15em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	text-transform:uppercase;
	font-weight:400;
	color:#FFFFFF;
	background-color: #733fa1;
	box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
	text-align:center;
	position:relative;
	border: none;
}
